PORT=4000
ALLOWED_ORIGIN=*
MONGODB_URI=your_mongodb_connection_string
MONGODB_DB_NAME=your_database_name
JWT_SECRET=your_secret_key

# Optional: Cloudinary is REQUIRED for Vercel, but OPTIONAL for local development
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Optional Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=true
